@font-face {
  src: url('fonts/corleone.regular.ttf');
  font-family: Corleone;
}

@font-face {
  src: url('fonts/manbow.lines-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-family: Manbow-lines;
}

@font-face {
  src: url('fonts/Manbow\ Stripe.otf');
  font-family: Manbow-stripe;
}

.rubik-lines-regular {
  font-family: 'Rubik Lines', system-ui;
  font-weight: 400;
  font-style: normal;
}

.orbitron-reg {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-bold {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  color: white;
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGZiM3N3MWgweG95ODY0djg5MHg4eHJmdnRrdzdudmtlODE3NndtMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3c614V12UA82q1vG/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

#spacex-logo {
  display: block;
  width: 7rem;
  margin: 1rem auto 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.apply-btn {
  padding: 0.5rem 1.1rem;
  border: none;
  background: white;
}

/* Manbow seesm to only works when competing with another font (applied in html) */
.distinct-font {
  font-family: Manbow-lines;
  /* color: #cf8a77; */
  color: #f4eccf;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff;
}
