@font-face {
  src: url('fonts/corleone.regular.ttf');
  font-family: Corleone;
}

@font-face {
  src: url('fonts/manbow.lines-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-family: Manbow-lines;
}

@font-face {
  src: url('fonts/Manbow\ Stripe.otf');
  font-family: Manbow-stripe;
}

.rubik-lines-regular {
  font-family: 'Rubik Lines', system-ui;
  font-weight: 400;
  font-style: normal;
}

.orbitron-reg {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-bold {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

* {
    margin: none;
    padding: none;
}

body {
display: flex;
flex-direction: column;
align-items: center;
  color: #eea886;
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGZiM3N3MWgweG95ODY0djg5MHg4eHJmdnRrdzdudmtlODE3NndtMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3c614V12UA82q1vG/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
    text-shadow: 0 0 2px black;
}

#spacex-logo {
  display: block;
  width: 7rem;
  margin: 1rem auto 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGZiM3N3MWgweG95ODY0djg5MHg4eHJmdnRrdzdudmtlODE3NndtMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3c614V12UA82q1vG/giphy.gif');
  background-size: cover;
  padding:3rem 0;
  width: 90%;
  margin-top: 3rem;
  padding-bottom: 6rem;
}

.hero:hover {
    background: #c57a63;
    color: #ced8e9;
    /* box-shadow: 0 0 5px 15px #dd834b; */
    transition-timing-function: ease-in;
}

.hero:hover > * {
    text-shadow: 0 0 0.5px #000;

}

.hero:hover .distinct-font {
    color: #010116;
}

.hero:hover .apply-btn {
    color: #010116;
    box-shadow:0 0 0.5px 0.2px #010116, 0 0 4px 2px #fbe2a3, 0 0 2px 2px #fff;
}

.apply-btn {
  padding: 0.5rem 1.1rem;
  border: none;
  background: white;
  color: #ef965e;
  font-weight: bold;
  transition-duration: 50ms;
} 

.apply-btn:hover {
    background: #ced8e9;
}

.hero:hover .apply-btn:active {
        box-shadow:0 0 3px 1px #3d3d6b, 0 0 4px 3px #fbe2a3, 0 0 0.5px 0.5px #fff;
        translate: 0 2px;     
}

/* Manbow seesm to only works when competing with another font (applied in html) */
.distinct-font {
  font-family: Manbow-lines;
  /* color: #cf8a77; */
  color: #fbe2a3;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff;
}

footer {
   color:#a7b8d0;
   text-shadow: 0 0 1px #ef965e, 0 0 2px #ef965e, 0 0 3px #000;
}

